@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Wildcard selector to override the default browser setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'bangers', cursive;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 15vw;
    margin: 0;
    color: #0483c7;
}

header h2 {
    font-size: 8vw;
    color: black;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

/* Modal Content styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#how-to-play-list {
    margin-left: 20px;
}

.modal-content img {
    max-width: 50vw;
    max-height: 50vh
}

#how-to-btn {
    padding: 5px;


}

#how-to-btn:hover {
    background-color: rgba(4, 131, 199, 0.4);
    cursor: pointer;
}

.game-area {
    background-color: #514663;
    color: aliceblue;
    box-sizing: border-box;
    width: 85%;
    height: 30vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.results {
    margin-top: 5vh;
    font-size: 5vw;
}

.game-area h3 {
    font-size: 3vw;
    font-weight: normal;
}

.options-buttons button {
    padding: 5px;
    font-size: 2vw;
}

.options-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.options-buttons button:HOVER {
    background-color: rgba(4, 131, 199, 0.4);
    cursor: pointer;
}



@media (min-width: 303px) {
    .logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 200px;
    }

    header h1 {
        font-size: 8vw;
        margin: 0;
        display: flex;
        margin: 10px;
    }

    header h2 {
        font-size: 5vw;
        color: black;
    }

    .game-area {
        background-color: #514663;
        color: aliceblue;
        box-sizing: border-box;
        width: 85%;
        height: 52vh;
        max-height: 1000px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
    }
}




@media (min-width: 690px) {

    .game-area {
        background-color: #514663;
        color: aliceblue;
        box-sizing: border-box;
        width: 85%;
        height: 65vh;
        max-height: 900px;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
    }

    header {
        display: flex;
        flex-direction: row;

        align-items: left;
        color: #0483c7;
        font-size: 25px;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 150px;
    }

    header h1 {
        font-size: 5vw;
        margin: 0;
        display: flex;
    }

    header h2 {
        font-size: 2vw;
        color: black;
    }

    .results {
        margin-top: 5vh;
        font-size: 2vw;
    }
}